@import "./../../../styles/base/color";
.panelBox {
  width: 33rem;
  height: 14rem;
  padding: 1.5rem 1.5rem;
  position: absolute;
  top: 100%;
  right: -2rem;
  border: $line;
  border-radius: 1.5rem;
  background-color: white;
  box-shadow: $shadow-extra-light;
  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    padding-bottom: 0.5rem;
    border-bottom: $line;
    margin-bottom: 0.8rem;
  }
}
