@import "./../../styles/base/color";

.container {
  display: flex;
  padding: 4.5rem;
  gap: 4.5rem;
  font-size: 1.4rem;

  @media only screen and (max-width:41.875rem) {
    flex-direction: column;
    padding: 2.5rem;
    gap: 1rem;
  }

  @media only screen and (max-width:25rem) {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }

  &__mainSection {

    height: fit-content;
    background-color: #fff;
    flex: 0 0 60%;
    font-size: inherit;
    padding: 3rem;
    box-shadow: $shadow-light;

    @media only screen and (max-width:25rem) {
      padding: 2rem;
    }

    & .description {
      margin-bottom: 2rem;
    }

    & .list {
      display: flex;
      flex-wrap: wrap;
      border-top: $line;
      border-bottom: $line;
      margin: 3rem 0;
      padding: 3rem 0;

      &__item {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
      }

      &__icon {
        color: $color-primary;
        font-size: 1rem;
      }
    }

    & .recommend {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__text {
        font-size: 1.3rem;
        color: $color-grey-dark-3;
        margin-right: 2rem;
      }

      &__list {
        display: flex;
      }
    }
  }

  & .sideSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    &__feedbacks {
      max-height: 36.5rem;
      height: 36.5rem;
      flex: 25%;
      overflow-y: scroll;

      &::-webkit-scrollbar-thumb {
        background: #f56f95;
        border-radius: 2rem;

        &:hover {
          background-color: $color-primary-light;
        }
      }

      &::-webkit-scrollbar {
        width: 0.8rem;

      }

      @media only screen and (max-width:41.875rem) {
        display: grid;
        grid-template-columns: repeat(5, 30rem);
        gap: 2rem 2rem;
        overflow-x: scroll;
        width: 100%;
        padding: 2rem 0;
      }

      &___displayMore {
        outline: none;
        border: none;
        color: $color-primary;
        background-color: transparent;
        padding: 0 0 0.2rem 0;
        border-bottom: 0.1rem solid $color-primary;
        font-weight: 600;

        &:hover span {
          transition: all 0.5s;
          margin-left: 1rem;
        }
      }
    }
  }
}

.cta__box {
  background-color: #fff;
  text-align: center;
  padding: 3.5rem 0;

  @media only screen and (max-width:37.5rem) {
    padding: 2.5rem 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;

    @media only screen and (max-width:37.5rem) {
      font-size: 1.9rem;
      margin-bottom: 1.8rem;
    }
  }

  .btn {
    background-image: linear-gradient(to right,
        $color-primary-light,
        $color-primary-dark );
    color: #fff;
    font-size: 1.5rem;
    font-weight: 300;
    border: none;
    text-transform: uppercase;
    border-radius: 10rem;
    outline: none;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    @media only screen and (max-width:37.5rem) {
      font-size: 1.4rem;
    }

    &:hover {
      background-image: linear-gradient(to left,
          $color-primary-light,
          $color-primary-dark );
    }

    &>* {
      display: inline-block;
      width: 100%;
      height: 100%;
      transition: all 0.4s;
    }

    &__visible {
      padding: 2rem 7.5rem;

      @media only screen and (max-width:37.5rem) {
        font-size: 1.4rem;
        padding: 1.5rem 4rem;
      }
    }

    &__hidden {
      position: absolute;
      padding: 2rem 0;
      left: 0;
      top: -100%;

      @media only screen and (max-width:37.5rem) {
        font-size: 1.4rem;
        padding: 1.5rem 0rem;
      }
    }

    &:hover .btn__visible {
      transform: translateY(100%);
    }

    &:hover .btn__hidden {
      top: 0;
    }
  }
}